Read the file ratings and movies

In [ ]:
ratings_filename = "dbfs:/mnt/temp/Data/ratings.csv"
movies_filename = "dbfs:/mnt/temp/Data/movies.csv"

Check the file is now there or not

In [ ]:
%fs
ls /mnt/temp/Data

path,name,size,modificationTime
dbfs:/mnt/temp/Data/genome-tags.csv,genome-tags.csv,18103,1693939976000
dbfs:/mnt/temp/Data/links.csv,links.csv,1368578,1693939976000
dbfs:/mnt/temp/Data/movies.csv,movies.csv,3038099,1693939977000
dbfs:/mnt/temp/Data/ratings.csv,ratings.csv,678260987,1693940021000

Working only on movies.csv right now and define its structure

In [ ]:
from pyspark.sql.types import *

movies_with_genres_df_schema = StructType(
[StructField('ID', IntegerType()),
StructField('title', StringType()),
StructField('genres',StringType())]
)

movies_df_schema = StructType(
[StructField('ID', IntegerType()),
StructField('title', StringType())]
) 
#dropping the genres.Also, we will tranform the df to include the Year later

Creating dataframe with the schema you have defined

In [ ]:
movies_df = sqlContext.read.format('com.databricks.spark.csv')
.options(header=True,inferSchema=False).schema(movies_df_schema).load(movies_filename)

movies_with_genres_df = sqlContext.read.format('com.databricks.spark.csv')
.options(header=True,inferSchema=False).schema(movies_with_genres_df_schema).load(movies_filename)

Show results

In [ ]:
movies_df.show(4, truncate=False)
movies_with_genres_df.show(4, truncate=False)

+---+------------------------+
|ID |title                   |
+---+------------------------+
|1  |Toy Story (1995)        |
|2  |Jumanji (1995)          |
|3  |Grumpier Old Men (1995) |
|4  |Waiting to Exhale (1995)|
+---+------------------------+
only showing top 4 rows

+---+------------------------+-------------------------------------------+
|ID |title                   |genres                                     |
+---+------------------------+-------------------------------------------+
|1  |Toy Story (1995)        |Adventure|Animation|Children|Comedy|Fantasy|
|2  |Jumanji (1995)          |Adventure|Children|Fantasy                 |
|3  |Grumpier Old Men (1995) |Comedy|Romance                             |
|4  |Waiting to Exhale (1995)|Comedy|Drama|Romance                       |
+---+------------------------+-------------------------------------------+
only showing top 4 rows

We extract the year of movies base on the title

In [ ]:
#transforming the Dataframes
from pyspark.sql.functions import split, regexp_extract

movies_with_year_df = movies_df.select('ID', 'title', regexp_extract('title', r'\((\d+)\)',1).alias('year'))

Take a look of our results

In [ ]:
movies_with_year_df.show(4, truncate = False)

+---+------------------------+----+
|ID |title                   |year|
+---+------------------------+----+
|1  |Toy Story (1995)        |1995|
|2  |Jumanji (1995)          |1995|
|3  |Grumpier Old Men (1995) |1995|
|4  |Waiting to Exhale (1995)|1995|
+---+------------------------+----+
only showing top 4 rows

Now we have one more column for year to aggregate function on!

In [ ]:
#from here we can look at the count and find that the maximum each year produced
display(movies_with_year_df.groupby('year').count().orderBy('count', ascending = False))

year,count
2015,2513
2016,2488
2014,2406
2017,2374
2013,2173
2018,2034
2012,1978
2011,1838
2009,1723
2010,1691
2008,1632
2007,1498
2006,1446
2005,1255
2004,1172
2003,1028
2002,1024
2019,994
2001,971
2000,929
1999,812
1998,803
1997,792
1995,705
1996,703
1994,644
1988,628
1989,609
1987,595
1993,571
1992,563
1972,556
1990,538
1971,534
1991,524
1973,515
1986,513
1985,513
1974,511
1970,491
1976,490
1979,487
1984,471
1980,470
1977,469
1981,462
1982,461
1983,460
1968,458
1978,457
1975,448
1969,442
,410
1966,404
1967,388
1964,367
1965,362
1957,336
1963,317
1955,315
1958,309
1953,304
1959,304
1956,294
1962,289
1961,289
1952,287
1954,285
1950,279
1960,269
1951,268
1949,266
1942,257
1948,245
1937,235
1941,232
1947,232
1936,230
1935,227
1943,223
1940,223
1934,219
1945,219
1933,218
1946,217
1932,215
1939,214
1944,212
1938,209
1931,173
1930,129
1929,117
1928,77
1926,66
1927,62
1925,52
1921,48
1922,46
1924,42
1914,42
1916,37
1920,36
1919,30
1923,30
1915,28
1903,26
1917,26
1900,22
1896,22
1894,22
1918,20
1912,19
1907,18
1906,17
1908,17
1909,16
1895,15
1913,15
1898,14
1897,13
1901,12
1910,11
1911,11
1904,11
1905,10
1899,8
1891,6
1902,6
1890,5
1888,4
1892,3
1880,1
69,1
1874,1
1887,1
1883,1
1878,1
06,1
500,1

Now to the ratings file and again for avoiding the action we are explicity defining the schema

In [ ]:
rating_df_schema = StructType(
[StructField('userId', IntegerType()),
StructField('movieId', IntegerType()),
StructField('rating',DoubleType())]
)

#we are dropping the Time Stamp column

Creating dataframe with the schema you have defined

In [ ]:
ratings_df = sqlContext.read.format('com.databricks.spark.csv')
.options(header=True,inferSchema=False).schema(rating_df_schema).load(ratings_filename)
ratings_df.show(4)

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|    296|   5.0|
|     1|    306|   3.5|
|     1|    307|   5.0|
|     1|    665|   5.0|
+------+-------+------+
only showing top 4 rows

We will cache both dataframes for accessing quickly

In [ ]:
ratings_df.cache()
movies_df.cache()

Out[24]: DataFrame[ID: int, title: string]

From ratingDF, create a movie_ids_with_avg_ratings_df that combines two dataframes

In [ ]:
from pyspark.sql import functions as F

movie_ids_with_avg_ratings_df = ratings_df.groupBy('movieId').agg(F.count(ratings_df.rating).alias("count"), F.avg(ratings_df.rating).alias("average"))
print('movie_ids_with_avg_ratings_df:')
movie_ids_with_avg_ratings_df.show(4, truncate=False)

movie_ids_with_avg_ratings_df:
+-------+-----+------------------+
|movieId|count|average           |
+-------+-----+------------------+
|1088   |11935|3.25002094679514  |
|1580   |40308|3.5817083457378187|
|3175   |14659|3.6077836141619484|
|44022  |4833 |3.2593627146699773|
+-------+-----+------------------+
only showing top 4 rows

This dataframe will have names with movie_id, make it more understandable

In [ ]:
movie_names_with_avg_rating_df =movie_ids_with_avg_ratings_df.join(movies_df, F.col('movieID') == F.col('ID')).drop('ID')
movie_names_with_avg_rating_df.show(4,truncate = False)

+-------+-----+------------------+--------------------------------+
|movieId|count|average           |title                           |
+-------+-----+------------------+--------------------------------+
|1088   |11935|3.25002094679514  |Dirty Dancing (1987)            |
|1580   |40308|3.5817083457378187|Men in Black (a.k.a. MIB) (1997)|
|3175   |14659|3.6077836141619484|Galaxy Quest (1999)             |
|44022  |4833 |3.2593627146699773|Ice Age 2: The Meltdown (2006)  |
+-------+-----+------------------+--------------------------------+
only showing top 4 rows

So let us see the global popularity

In [ ]:
movies_with_500_ratings_or_more = movie_names_with_avg_rating_df.filter(movie_names_with_avg_rating_df['count'] >=500).orderBy('average', ascending =False)
movies_with_500_ratings_or_more.show(truncate = False)

+-------+-----+------------------+---------------------------------------------------------------------------+
|movieId|count|average           |title                                                                      |
+-------+-----+------------------+---------------------------------------------------------------------------+
|171011 |1124 |4.483096085409253 |Planet Earth II (2016)                                                     |
|159817 |1747 |4.464796794504865 |Planet Earth (2006)                                                        |
|318    |81482|4.413576004516335 |Shawshank Redemption, The (1994)                                           |
|170705 |1356 |4.398598820058997 |Band of Brothers (2001)                                                    |
|858    |52498|4.324336165187245 |Godfather, The (1972)                                                      |
|179135 |659  |4.289833080424886 |Blue Planet II (2017)                                                      |
|50     |55366|4.284353213163313 |Usual Suspects, The (1995)                                                 |
|1221   |34188|4.2617585117585115|Godfather: Part II, The (1974)                                             |
|163809 |546  |4.258241758241758 |Over the Garden Wall (2013)                                                |
|2019   |13367|4.25476920775043  |Seven Samurai (Shichinin no samurai) (1954)                                |
|142115 |564  |4.24822695035461  |The Blue Planet (2001)                                                     |
|527    |60411|4.247579083279535 |Schindler's List (1993)                                                    |
|1203   |16569|4.243014062405697 |12 Angry Men (1957)                                                        |
|904    |20162|4.237947624243627 |Rear Window (1954)                                                         |
|2959   |58773|4.228310618821568 |Fight Club (1999)                                                          |
|1193   |36058|4.2186616007543405|One Flew Over the Cuckoo's Nest (1975)                                     |
|750    |26714|4.215804447106386 |Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)|
|5618   |22719|4.212267265284564 |Spirited Away (Sen to Chihiro no kamikakushi) (2001)                       |
|166024 |1030 |4.210194174757282 |Whiplash (2013)                                                            |
|912    |26890|4.206563778356267 |Casablanca (1942)                                                          |
+-------+-----+------------------+---------------------------------------------------------------------------+
only showing top 20 rows

Here the fun part, we splitting in TRAIN, TEST AND VALIDATION DATASET
We'll hold out 60% for training, 20% of our data for validation, and leave 20% for testing

In [ ]:
seed = 4
(split_60_df, split_a_20_df, split_b_20_df) = ratings_df.randomSplit([0.6,0.2,0.2], seed)

#Let's cache these datasets for performance
training_df = split_60_df.cache()
validation_df = split_a_20_df.cache()
test_df = split_b_20_df.cache()

print('Training: {0}, validation: {1}, test: {2}\n'.format(training_df.count(), validation_df.count(), test_df.count())
      )
training_df.show(4,truncate=False)
validation_df.show(4,truncate=False)
test_df.show(4,truncate=False)

Training: 14996550, validation: 5003462, test: 5000083

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|1     |306    |3.5   |
|1     |307    |5.0   |
|1     |665    |5.0   |
|1     |899    |3.5   |
+------+-------+------+
only showing top 4 rows

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|1     |1250   |4.0   |
|1     |2011   |2.5   |
|1     |2161   |3.5   |
|1     |2351   |4.5   |
+------+-------+------+
only showing top 4 rows

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|1     |296    |5.0   |
|1     |1217   |3.5   |
|1     |2068   |2.5   |
|1     |2843   |4.5   |
+------+-------+------+
only showing top 4 rows

We use Collaborative Filtering (i.e recommendation based on other user's behaviour)

In [ ]:
from pyspark.ml.recommendation import ALS
als = ALS()

#Reset the parameters for the ALS object.
als.setPredictionCol("prediction")\
    .setMaxIter(5)\
    .setSeed(seed)\
    .setRegParam(0.1)\
    .setUserCol('userId')\
    .setItemCol('movieId')\
    .setRatingCol('rating')\
    .setRank(8) #we got rank 8 as optimal

#create the model with these parameters
my_ratings_model = als.fit(training_df)

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.functions import col

#create an RMSE evaluator using the label and predicted columns
#it will essentially calculate the rmse score based on these columns
reg_eval = RegressionEvaluator(predictionCol='prediction', labelCol='rating', metricName="rmse")
my_predict_df = my_ratings_model.transform(test_df)

#Remove NaN values from prediction
predicted_test_my_ratings_df = my_predict_df.filter(my_predict_df.prediction 
 != float('nan'))


#Run the previously created RMSE evaluator, reg_eval, on the predicted_test_my_ratings_df Dataframe
test_RMSE_my_ratings = reg_eval.evaluate(predicted_test_my_ratings_df)
print('The model had a RMSE on the test set of {0}'.format(test_RMSE_my_ratings))
dbutils.widgets.text("input", "5","")
ins = dbutils.widgets.get("input")
uid=int(ins)
#set the movie recommendation foe each user
ll=predicted_test_my_ratings_df.filter(col("userId")==uid)

The model had a RMSE on the test set of 0.814153554974725

Take ten movie for that user with the id = input and using exit() to give out the result to Azure services

In [ ]:
MovieRec = ll.join(movies_df,F.col('movieID') == F.col('ID')).drop('ID').select('title').take(10)   

ll=dbutils.notebook.exit(MovieRec)